.text_color {
    color: white;
}

.background_color {
    background-color: rgb(0, 81, 255);
}

#first_id {
    background-color: aqua;
}

div > p {
    background-color: chartreuse;
}

div a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}